# Required settings
auth --enableshadow --passalgo=sha512
keyboard us
lang en_US.UTF-8
rootpw packer
timezone Etc/UTC --isUtc --ntpservers=0.north-america.pool.ntp.org,1.north-america.pool.ntp.org,2.north-america.pool.ntp.org,3.north-america.pool.ntp.org

# Optional settings
autopart
bootloader --location=mbr
cdrom
clearpart --all --initlabel
firewall --disabled
firstboot --disabled
install
network --bootproto=dhcp
reboot
selinux --disabled
services --enabled="chronyd"
skipx
text
user --groups=wheel --name=packer --plaintext --password=packer --gecos="packer"
zerombr

# Packages
%packages
@^minimal
@core
chrony
kexec-tools
%end

# Post
%post
/usr/bin/yum -y update
echo "packer        ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers
%end
